<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>BDAT 1004 - GROUP 7 PROJECT</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="css/styles.css" rel="stylesheet" /> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

        <style>
            .banner-about {
                margin: 0;
                padding: 0;
                background-image: url("{{ url_for('static', filename='assets/bg/about-banner.jpeg') }}") !important;
                background-size: cover; 
                background-position: center;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            }

            .rounded-image {
                border-radius: 50%; 
                overflow: hidden; 
                width: 200px; 
                height: 200px; 
            }

                .rounded-image img {
                width: 100%; 
                height: auto; 
            }
            .skills{
                /*background-color: #0d6efd;*/
                background-color: #212529;
                color: #fff;
                padding: 5px 0;
                border-radius: 5px;
                width: auto;
            }

        </style>
        
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="#!">ABOUT THE TEAM </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <div class="display-5">We are Team of professionals specializing in Data Visualization, 
                            Data Mining and Wharehousing, Data Engineering, Software Development and general IT Consulting.
                        </div>
                        <p class="fs-4" style="margin-top: 50px;">We are one call away from you for your next Project</p>
                        <a class="btn btn-primary btn-lg" href="/contact">Contact Us Now!</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
        <section class="pt-4" style="margin-top: 50px;">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <img src="{{ url_for('static', filename='assets/bg/banner-team.png') }}" alt="Our Team" width="100%" height="ms-auto">
                
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-6 mb-5" style="margin-top: 50px;">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div> -->
                                
                                <p class="mb-0"><img class="rounded-image" style="margin-top: 50px;" src="{{ url_for('static', filename='assets/profile/David_Owopetu.jpg') }}" alt="David Owopetu" width="100%" height="auto"></p>
                                <div class="fs-4" style="padding:20px 40px">David - Software Developer</div>
                                <div class="fs-4 skills">Skills:  PHP, Python, Javascript, AWS</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-6 mb-5" style="margin-top: 50px;">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div> -->
                                
                                <p class="mb-0"><img class="rounded-image" style="margin-top: 50px;" src="{{ url_for('static', filename='assets/profile/Abisola_Olakanmi.jpg') }}" alt="Abisola Olakanmi" width="100%" height="auto"></p>
                                <div class="fs-4" style="padding:20px 40px">Abisola - Manager</div>
                                <div class="fs-4 skills">Skills: Planning, Forcasting</div>
                            </div>
                        </div>
                    </div>                
                </div>

                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-6 mb-5" style="margin-top: 50px;">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div> -->
                                
                                <p class="mb-0"><img class="rounded-image" style="margin-top: 50px;" src="{{ url_for('static', filename='assets/profile/Quyen.jpg') }}" alt="Quyen" width="100%" height="auto"></p>
                                <div class="fs-4" style="padding:20px 40px">Quyen - Data Analyst</div>
                                <div class="fs-4 skills">Skills: Analytics, Python, Visualization</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-6 mb-5" style="margin-top: 50px;">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div> -->
                                
                                <p class="mb-0"><img class="rounded-image" style="margin-top: 50px;" src="{{ url_for('static', filename='assets/profile/Chikwado.jpg') }}" alt="Chikwado" width="100%" height="auto"></p>
                                <div class="fs-4" style="padding:20px 40px">Chikwado - Business Analyst</div>
                                <div class="fs-4 skills">Skills: Research, Reporting</div>

                            </div>
                        </div>
                    </div>                
                </div>

            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">
                    Created By - David Owopetu | Abisola Olakanmi | Quyen Nguyen | ⁠Chikwado Mathias Iheanacho<br><br>
                    &copy; 2024 - BDAT1004 Group 7 Project
                </p>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <!-- Include the JavaScript file -->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        
    </body>
</html>
