<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>BDAT 1004 - GROUP 7 PROJECT</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="css/styles.css" rel="stylesheet" /> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="#!">contact Us </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <div class="display-5">
                            Need a real time insight analysis for your Company? We got you covered. COntact Us today!
                        </div>
                        <p class="fs-4" style="margin-top: 50px;">We are the real Professionals your Company Needs</p>
                        <a class="btn btn-primary btn-lg" href="mailto:davidowopetu@gmail.com" style="margin-top: 20px;">Call Us Now!</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-12 col-xxl-12 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0" style="padding: 30px 0 !important;">
                                <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div> -->
                                <h2 class="fs-4 fw-bold">Our Contact</h2>
                                
                                    <p>If you have any questions, please feel free to contact us:</p>
                                    <address>
                                        <strong>BDAT GROUP 7 IT CONSULTANTS</strong><br>
                                        1 Georgian Drive<br>
                                        Barrie, ON L4M 0K5<br>
                                        Canada<br>
                                        <abbr title="Phone">Phone:</abbr> (123) 456-7890<br>
                                        <abbr title="Email">Email:</abbr> <a href="mailto:info@example.com">bdat1004group7@gmail.com</a><br>
                                    </address>
                                <p class="mb-0">

                                </p>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">BDAT1004 Group 7 Project - David Owopetu | Abisola Olakanmi | Quyen Nguyen | ⁠Chikwado Mathias Iheanacho</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <!-- Include the JavaScript file -->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        
    </body>
</html>
